<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/app_icon.png">
    <title>Know Weather By Adel | About </title>
</head>

<body>
    {{>header}}
    <main>
        <h3>created by: </h3>
        <p>This site was created by <b>Adel Nabil.</b> </p>

        <h3>Used Api: </h3>
        <p>
            <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a> &&
            <a href="https://weatherstack.com/" target="_blank">weatherstack.com</a>
        </p>

        <h3>Project on Github: </h3>
        <p> <a href="https://github.com/AdelDaniel/weather-website-nodeJs"
                target="_blank">https://github.com/AdelDaniel/weather-website-nodeJs</a> </p>

        <h3>My accounts: </h3>
        <a href="https://www.linkedin.com/in/adel55/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/2048px-Linkedin_icon.svg.png"
                alt="Adel Nabil Daniel LinkedIn Profile" height="30" width="30">
        </a>
        <a href="https://github.com/AdelDaniel" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"
                alt="Adel Nabil Daniel GitHub Profile" height="30" width="30">
        </a>

    </main>
    {{>footer}}
</body>

</html>