<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/app_icon.png">
    <title>Error404</title>
</head>
    <body>
     <Header><h1>404 Error! </h1></Header>
     <main>
     <h3>{{ errorMessege}} </h3>
     </main>
     {{>footer}}

</body>
</html>

